In [1]:
# Load libraries
import pandas as pd
import numpy as np

In [8]:
# Create feature matrix with two highly correlated features
X = np.array([[1, 1, 1, 1], [2, 2, 0, 3], [3, 3, 1, 4], [4, 4, 0, 5],
              [5, 5, 1, 2], [6, 6, 0, 3], [7, 7, 1, 7], [8, 7, 0, 8],
              [9, 7, 1, 9]])

# Convert feature matrix into DataFrame
df = pd.DataFrame(X)

# View the data frame
df

   0  1  2  3
0  1  1  1  1
1  2  2  0  3
2  3  3  1  4
3  4  4  0  5
4  5  5  1  2
5  6  6  0  3
6  7  7  1  7
7  8  7  0  8
8  9  7  1  9

In [12]:
# Create correlation matrix
corr_matrix = df.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

# Find index of feature columns with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.80)]

In [10]:
# Drop features 
df.drop(df[to_drop], axis=1)

   0  2  3
0  1  1  1
1  2  0  3
2  3  1  4
3  4  0  5
4  5  1  2
5  6  0  3
6  7  1  7
7  8  0  8
8  9  1  9