In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"column": [3, 4, 7, 1, 8, 1, 9, 6, 10]})

In [3]:
df

   column
0       3
1       4
2       7
3       1
4       8
5       1
6       9
7       6
8      10

In [8]:
num = 2.5
df.index[(df["column"]-num).abs().argsort()][0]

0

In [9]:
df.index(4)

TypeError: 'RangeIndex' object is not callable